div.PriceContainer {
  font-size: 12px;
}

table.GrayTable{
  border-collapse: collapse;
}

table.GrayTable td, th {
  font-size: 12px;
  padding: 2px 4px;
  border: 1px solid black;
}

table.GrayTable td.tGrName {
  font-size: 14px;
  font-weight: bold;
  border: none;
  padding: 4px;  
}

table.GrayTable th {
  text-align: center;
  padding: 2px 4px;
  vertical-align: middle;
}

table.GrayTable thead tr {
  background-color: #f1f1f1 !important;

}

table.GrayTable tr:nth-child(odd) {
  background-color: white;
}

table.GrayTable tr:nth-child(even) {
  background-color: #f1f1f1;/* фон четных строк */
}

.tdRight {
  text-align: right;
}

.tdCentre {
  text-align: center;
}

div.PriceInfo {
  float: right;
  width: fit-content;
}


div.PriceTitle {
  font-size: 14px;
  width: fit-content;
  float: left;
}

div.PriceTitle strong {
  font-size: 18px;
}

div.PriceTop {
  width: 100%;
  float: left;
  padding-bottom: 10px;
}

.GrayTable a:hover {
  color: var(--colorBrown);
}
