div.PriceContainer {
  font-size: 12px;
}

table.GrayTable{
  border-collapse: collapse;
}

table.GrayTable td, th {
  font-size: 14px;
  padding: 5px;
  border: 1px solid black;
}

table.GrayTable td.tGrName {
  font-size: 16px;
  font-weight: bold;
  border: none;
}

table.GrayTable th {
  text-align: center;
  padding: 5px;
  vertical-align: middle;
}

table.GrayTable thead tr {
  background-color: var(--colorGrayLite) !important;

}

table.GrayTable tr:nth-child(odd) {
  background-color: white;
}

table.GrayTable tr:nth-child(even) {
  background-color: var(--colorGrayLite);/* фон четных строк */
}
