div.GroupsContainer {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

div.GroupsContainer a {
  text-decoration: none;
}

div.GoodGroup {
  position: relative;
  margin-right: 20px;
  margin-bottom: 40px;
  text-align: center;
  width: 200px;
  height: 200px;
  border: 1px solid white;
  overflow: hidden;
}

div.GoodGroup img {
  display: inline-block;
  margin: 0px auto;
  width: 180px;
}

div.GoodGroupCaption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 0;
  height: 72px;
  width: 100%;
}

div.GoodGroupText {
  font-size: 16px;
  font-weight: 400;
  color: brown;
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
}

div.GoodGroup:hover {
  border: 1px solid brown;
  box-shadow: 4px 4px 4px rgba(150,150,150,0.5);
  transition: all 0.5s ease;
}

div.GoodGroup:hover .GoodGroupText {
  color: white;
  transition: all 0.5s ease;
}

div.GoodGroup:hover .GoodGroupCaption {
  background-color: var(--colorBrown);
  transition: all 0.5s ease;
}