div.BottomPanel {
  margin-top: 20px;
  background-color: gray;
  width: 100vw;
  color: white;
  height: 80px;
}

div.Partners {
   position: relative;
}

div.Partners img {
  height: 38px;
}

nav.BottomMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 38px;
  width: 100%;
  padding-top: 20px;
 
}

nav.BottomMenu a {
  color: white;
  font-weight: 400;
  font-size: 20px;
  margin-right: 36px;
  text-decoration: none;
}

nav.BottomMenu a:last-child {
  margin-right: 64px;
}

nav.BottomMenu a:hover {
  color: var(--colorBrownLite)
}

nav.BottomMenu a.Selected {
  color: var(--colorBrownLite)
}

div.foot_rights {
  float: left;
  font-size: 14px;
  padding-left: 20px;
}