div.LangSelector {
  height: 100%;
  margin-right: 32px;
  line-height: 28px;
}

div.LangSelector span {
  height: 100%;
  margin-right: 6px;
  padding-right: 6px;
  border-right: 1px gray solid;
  cursor: pointer;
}

div.LangSelector span:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

div.LangSelector span.Selected, span:hover {
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.7);
}