div.LangSelector {
  height: 100%;
  margin-right: 64px;
  padding-top: 6px;
}

div.LangSelector span {
  height: 100%;
  margin-right:   6px;
  padding-right: 6px;
  border-right: 1px gray solid;
  cursor: default;
}

div.LangSelector span:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

div.LangSelector span.Selected {
  color: var(--colorBrown);
}