div.GoodsContainer {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

div.GoodsContainer a {
  text-decoration: none;
}

div.GoodItem {
  position: relative;
  margin-right: 20px;
  margin-bottom: 60px;
  text-align: center;
  width: 200px;
  height: 320px;
  border: 1px solid white;
  overflow: hidden;
}

div.GoodItem img {
  display: inline-block;
  margin: 12px auto;
  width: 180px;
}

div.GoodData {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  height: 192px;
  width: 100%;
}

div.GoodData > * {
  font-size: 14px;
  text-align: left;
  color: black;
  border-bottom: 1px dotted darkgray;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
}

div.GoodData > *:last-child {
  border-bottom: none;
}

.GoodName {
  height: 42px;
  min-height: 42px;
  overflow: hidden;
  font-weight: 800;
}

div.GoodItem:hover {
  border: 1px solid brown;
  box-shadow: 4px 4px 4px rgba(150,150,150,0.5);
  transition: all 0.5s ease;
}

div.GoodItem:hover .GoodData {
  background-color: var(--colorBrownLite);
  transition: all 0.5s ease;
}

div.GoodNew {
  position: absolute;
  border: 1px solid var(--colorBrown) ;
  border-radius: 5px;
  background-color: var(--colorBrown); 
  color: white;
  padding: 0 2px; 
  top: 4px;
}
