div.GoodNew {
  position: absolute;
  border: 1px solid var(--colorBrown) ;
  background-color: var(--colorBrown);
  color: white;
  top: 4px;
  left: 4px;
}

.Goods .Card .CardCaption {
  min-height: 58px;
  font-size: 14px;
}

.Goods .Card img {
  padding-top: 18px;
}

.Goods {
  padding-top: 10px !important;
}