.OutletBox .Card .City {
  font-size: 16px;
  font-weight: normal;
  color: #504c4ad4;  
  background-color: #ebebeba1;
  height: 1.4em;
  margin-bottom: 6px;
  line-height: 24px;
}

div.OutletData {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  height: 170px;
  width: 100%;
}

div.OutletData > * {
  font-size: 14px;
  text-align: left;
  color: black;
  border-bottom: 1px dotted #a9a9a952;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  height: 1.4em;
  overflow: hidden;
}

div.OutletData strong {
  color: black;
  font-size: 13px;
}

div.OutletData > *:last-child {
  border-bottom: none;
}

#foreigns {
  margin-top: 16px;
}

.OutletBox {
  padding-top: 0px !important;
}

.OutletBox .Card  {
  min-height: 316px;
  width: 230px;
}

.OutletBox .CardCaption {
  background-color: transparent;  
  padding-bottom: 6px;
  z-index: 1000;
}