div.OutletsContainer {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

div.OutletBox {
  position: relative;
  margin-right: 20px;
  margin-bottom: 60px;
  text-align: center;
  width: 240px;
  height: 343px;
  border: 1px solid gray;
  box-shadow: 4px 4px 4px rgba(150,150,150,0.5);
  overflow: hidden;
}

div.OutletBox .City {
  font-size: 18px;
  font-weight: 800;
  color: white;
  background-color: var(--colorBrown);
  height: 1.4em;
  border-bottom: 1px solid darkred;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

div.OutletBox:hover {
  border: 1px solid var(--colorBrown);
  box-shadow: 4px 4px 4px rgba(150,150,150,0.5);
  transition: all 0.5s ease;
}

div.OutletBox:hover .OutletData {
  background-color: var(--colorBrownLite);
  transition: all 0.5s ease;
}

div.OutletData {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  height: 170px;
  width: 100%;
}

div.OutletData > * {
  font-size: 14px;
  text-align: left;
  color: black;
  border-bottom: 1px dotted darkgray;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  height: 1.4em;
  overflow: hidden;
}

div.OutletData > *:last-child {
  border-bottom: none;
}
