/* .MainPage { 
  background-image: url('../../../public/image/back.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center
}*/

.MainPage header {
  background-color: transparent;
  /* box-shadow: none; */
}
/* 
.MainPage div.TopRibbon {
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  background-color: inherit;
}

.MainPage div.TopRibbon a:hover {
  color: var(--colorBrownLite);
} */

.MainPage .FullPage {
  min-height: auto;
}

.MainPage .header-back {
  /* background-image: url('../../../public/image/sl1-c.jpg'); */
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100vh;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
  transition: background-image 3s linear 1s;
}

.MainPage .header-back-title {
  background-image: url(../../../public/image/bmkk.png);
  position: absolute;
  width: 655px;
  z-index: 1000;
  height: 304px;
  background-repeat: no-repeat;
  bottom: 16px;
  left: 10px;
}

.MainPage nav.TopMenu {
  background-color: rgba(219,69,53,0.8);
  box-shadow: none;
} 

.MainPage .LangSelector span.Selected { 
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.7);
}

.MainPage .Logo {
  top: -20px;
  height: 140px;
  left: 10px;
}