div.Page {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
}

div.MainPage {
  background-image: url('../../public/image/back.jpg');
  background-repeat: no-repeat;
}

img.Logo {
  position: absolute;
  top: 24px;
  left: 24px;
}

div.TopRibbon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 24px;
  width: 100%;
  color: white;
  font-size: 12px;
  background-color:rgba(0, 0, 0, 0.5);
}

nav.TopMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 48px;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.3);
}

nav.TopMenu a {
  color: white;
  font-weight: 400;
  font-size: 24px;
  margin-right: 36px;
  text-decoration: none;
}

nav.TopMenu a:last-child {
  margin-right: 64px;
}

div.LangSelector {
  height: 100%;
  margin-right: 64px;
}

div.LangSelector span {
  height: 100%;
  margin-right:   6px;
  padding-right: 6px;
  border-right: 1px gray solid;
  cursor: default;
}

div.LangSelector span:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

div.LangSelector span.Selected {
  color: lightgreen;
}

div.WorkArea {
  max-width: 1040px;
  margin: 0 auto;
  padding-top: 12px;
}

div.GroupsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
}

div.GoodGroup {
  padding: 24px;
  text-align: center;
}

div.GoodGroup img {
  display: block;
  margin: 0 auto;
}

div.GoodGroupName {
  font-size: 24px;
  font-weight: 600;
  color: brown;
  width: 100%;
  text-align: center;
}

div.GoodsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
}

div.GoodName {
  font-size: 14px;
  font-weight: bold;
  color: brown;
  width: 100%;
}

div.GoodItem {
  width: 200px;
  padding: 10px;
}

div.GoodItem ul li {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #969696;
  font-size: 12px;
}

div.GoodItem ul {
  font-size: 14px;
  line-height: 1.4;
  list-style: none none;
  margin: 0;
  padding: 0;
}

div.GoodItem h5 {
  font: bold normal 18px,serif;
  margin-bottom: 4px;
  margin-top: 4px;
  padding-bottom: 10px;
  border-bottom: dotted 1px gray;
  text-align: left;
}

div.GoodItem strong {
  padding-right: 4px;
}

div.GoodItem ul .GoodMore {
  float: right;
  color: black;  
}


div.WrappedText span {
  cursor: default;
  border: 1px solid darkgray;
  border-radius: 4px;
  background-color: lightgrey;
  margin-left: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  font-weight: 400;
}

div.GroupsContainer h2 {
  width: 100%;
  text-align: center;
}

div.PriceBtn a{
  color: black; 
  text-decoration: none;
  cursor: default;
  border: 1px solid darkgray;
  border-radius: 6px;
  background-color: lightgrey;
  margin-left: 0.2em;
  padding: 6px;
  font-weight: 600;
  float: right; 
}

div.NewsItem {
  border-bottom: dotted 1px gray;
}

div.NoneDisplay {
  display: none;
}

div.PriceContainer {
  font-size: 12px;
}

.ContactInfo span{
  padding-right: 6px;
}

div.ContactName {
  padding-bottom: 10px;
}

div.ContactItem {
  padding-bottom: 10px;
}

div.DepartmentItem {
  min-width: 50%;
  max-width: 50%;
} 

div.OutletContainer td {
  font-size: 12px;
}

div.OutletContainer th {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;  
  vertical-align: middle;
  border-bottom: 5px solid #c8c8c8;
  border-top: 5px solid #c8c8c8;
}

div.OutletContainer thead {
  background: #c8c8c8 !important;
} 



