div.Page {
  width: 100vw;
  height: 100vh;
  color: var(--colorText);
}

img.Logo {
  position: absolute;
  top: 14px;
  left: 24px;
}

div.TopRibbon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 24px;
  width: 100%;
  color: white;
  font-size: 12px;
  background-color: rgba(0,0,0,0.2);
  padding-top: 0px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

nav.TopMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 38px;
  width: 100%;
  background-color: var(--colorBrown);
  padding-top: 14px;
  bottom: -1px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 2px 4px rgba(150,150,150,0.8);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

nav.TopMenu a {
  color: white;
  font-weight: 400;
  font-size: 20px;
  margin-right: 36px;
  text-decoration: none;
}

nav.TopMenu a:last-child {
  margin-right: 64px;
}

div.WorkArea {
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 32px;
}

div.WorkAreaFullWidth {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
}

@media print {
  div.TopRibbon {
    display: none;
  }

  nav.TopMenu {
    display: none;
  }

  div.WorkAreaFullWidth {
    padding: 0;
  }
}

div.NoneDisplay {
  display: none;
}

