div.Page {
  width: 100vw;
  height: 100vh;
  color: var(--colorText);
}

img.Logo {
  position: absolute;
  top: 14px;
  left: 24px;
}

div.TopRibbon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 24px;
  width: 100%;
  color: white;
  font-size: 12px;
  background-color: rgba(0,0,0,0.2);
  padding-top: 0px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

nav.TopMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 38px;
  width: 100%;
  background-color: var(--colorBrown);
  padding-top: 14px;
  bottom: -1px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

nav.TopMenu a {
  color: white;
  font-weight: 400;
  font-size: 20px;
  margin-right: 36px;
  text-decoration: none;
}

nav.TopMenu a:last-child {
  margin-right: 64px;
}

div.WorkArea {
  max-width: 1040px;
  margin: 0 auto;
  padding-top: 12px;
}

div.GoodsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
}

div.GoodItem strong {
  padding-right: 4px;
}

div.GoodItem {
  width: 200px;
  padding: 10px;
}

div.GoodItem ul li {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #969696;
  font-size: 12px;
}

div.GoodItem ul {
  font-size: 14px;
  line-height: 1.4;
  list-style: none none;
  margin: 0;
  padding: 0;
}

div.GoodItem h5 {
  font: bold normal 18px,serif;
  margin-bottom: 4px;
  margin-top: 4px;
  padding-bottom: 10px;
  border-bottom: dotted 1px gray;
  text-align: left;
}

div.GoodCard {
  padding-top: 20px;
}

div.GoodCardItem ul li {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #969696;
  font-size: 14px;
}

div.GoodCardItem ul {
  line-height: 1.4;
  list-style: none none;
  margin: 0;
  padding: 0;
}

div.GoodCardItem {
  float: left;
  padding-left: 40px;
  max-width: 50%;
}

div.GoodCardItem strong {
  padding-right: 4px;
}

div.GoodCard img {
  float: left;
  margin-top: 24px;
}
div.GoodCard h2 {
  width: 100%;
  text-align: left;
}

div.GoodItem ul .GoodMore {
  float: right;
  color: var(--colorText);
  text-decoration: none;
  font-style: italic;
  font-size: 12px;
}

div.GoodItem img {
  max-height: 100px;
}

div.WrappedText {
  color: inherit;
}

div.WrappedText span {
  cursor: default;
  border: 1px solid darkgray;
  border-radius: 4px;
  background-color: lightgrey;
  margin-left: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  font-weight: 400;
}

div.PriceBtn a {
  color: black;
  text-decoration: none;
  cursor: default;
  border: 1px solid darkgray;
  border-radius: 6px;
  background-color: lightgrey;
  margin-left: 0.2em;
  padding: 6px;
  font-weight: 600;
  float: right;
}

div.NewsItem {
  border-bottom: dotted 1px gray;
}

div.NoneDisplay {
  display: none;
}

div.PriceContainer {
  font-size: 12px;
}

.ContactInfo span{
  padding-right: 6px;
}

div.ContactName {
  padding-bottom: 10px;
}

div.ContactItem {
  padding-bottom: 10px;
}

div.DepartmentItem {
  min-width: 50%;
  max-width: 50%;
}

div.OutletContainer td {
  font-size: 14px;
  padding: 5px;
}

div.OutletContainer th {
  text-align: center;
  padding: 5px;
  vertical-align: middle;
}

div.OutletContainer thead tr {
  background-color: var(--colorGrayLite) !important;

}

div.OutletContainer tr:nth-child(odd) {
  background-color: white;
}

div.OutletContainer tr:nth-child(even) {
  background-color: var(--colorGrayLite);/* фон четных строк */
}
