.News .Card {
  width: 450px;
}
.News .Card img {
  width: 450px;
  height: 300px;
}

.News .Card h2 {
  /* color: var(--colorBrown); */
  font-size: 20px;
}

.News .CardCaption {
  padding-bottom: 6px;
  position: relative;
  margin-top: -6px; 
}

div.NewsDate {
  font-size: 12px;
  width: 100%;
  text-align: right;
}
