div.DepartmentItem {
  flex: 1 1 32%;
  padding-bottom: 3em;
  max-width: 32%;
}

div.DepartmentItem:first-child {
  flex: 0 1 100%;
  max-width: 100%;
}

div.DepartmentItem div:first-child {
  font-size: 14px;
}

div.ContactItem div:first-child{
  color: var(--colorBrown);
  font-size: 18px;
  font-weight: 800;
  padding-top: 4px;
  padding-bottom: 12px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

div.ContactItem i {
  padding-right: 6px;
  color: gray;
}

.DeptName {
  height: 30px;
  line-height: normal;
}