div.ContactsContainer {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding-top: 20px;
}

div.ContactName {
  padding-bottom: 6px;
}

div.ContactItem {
  padding-bottom: 14px;
}

div.DepartmentItem {
  width: 50%;
}

div.DepartmentItem h4 {
  max-width: 350px;
  margin: 6px 0;
}

div.ContactItem i {
  padding-right: 8px;
}