.ContactInfo span{
  padding-right: 6px;
}

div.ContactName {
  padding-bottom: 6px;
}

div.ContactItem {
  padding-bottom: 14px;
}

div.DepartmentItem {
  width: 50%;
}

div.DepartmentItem h4 {
  max-width: 350px;
  margin: 6px 0;
}

div.ContactItem i {
  padding-right: 8px;
}